<<<<<<< HEAD
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 40px;
}

div {
    margin: 20px auto;
    max-width: 800px;
}
=======
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 40px;
}

div {
    margin: 20px auto;
    max-width: 800px;
}
>>>>>>> 0278c5a (Yes)
